<!DOCTYPE html>
<html id="html">
    <%- head %>
    <body id="body">
        <%- content %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
        <script src="/bower_components/react-router/build/global/ReactRouter.js"></script>
        <script type="text/jsx" src="/js/page.jsx"></script>
    </body>
</html>
