body
{
    margin: 0;
    padding: 0px;
}

.content
{
    padding: 20px;
}
header
{
    width: 100%;
    top: 0px;
    height: 60px;
    background-color: #0066DC;
}

header img
{
    height: 60px;
    margin-left: 20px;
}

header a
{
    margin-right:20px;
    color: #FFF;
}

footer
{
    width: 100%;
    bottom: 0px;
    height: 60px;
    background-color: #EFEFEF;
}

.video-preview {
    margin-bottom: 20px;
}

.player {
    display: block;
    margin: 30px auto;
}
